body {
    background-color: blue;

}
div {
    display: none;
}
html {
    font-size: 20px;
}

#small {
    font-size: 1rem;
    padding: 1rem;
}
#medium {
    font-size: 2rem;
    padding: 1rem;
}
#large {
    font-size: 3rem;
    padding: 1rem;
}
@media screen and (max-width: 300px) { 
    body {
        background-color: red;
    }
}
@media screen and (min-width : 300px) and (max-width : 768px ){
    body {
        background-color: green;
    }
}


@media all and (max-width : 300px) {
    #small {
        display: block;
    }
}
@media all and (min-width : 300px) and (max-width : 768px) {
    #medium {
        display: block;
    }
}

@media all and (min-width : 768px) {
    #large {
        display: block;
    }
}

